@import "libs/bourbon/bourbon";
@import "libs/neat/neat";
body {
    font-family: "Helvetica", "Arial", sans-serif;
    padding: 0;
    margin: 0;
}

a {
		color: #34ad5b;
}

header {
    text-align: center;
    padding: 40px;
    p {
        font-weight: bold;
    }
}

.projects {
		position: relative;
    @include clearfix();
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
    height: 550px;

    .image {
    		display: inline-block;
				border-radius: 50%;
				border-radius: 50%;
				width: 160px;
				height: 160px;
				overflow: hidden;

				img {
					height: 160px;
				}
    }
    .title {
        display: block;
        font-weight: bold;
        font-size: 22px;
        color: #34ad5b;
        padding: 1em;

    }
    .amount {
        font-weight: bold;
        font-size: 48px;
        font-style: normal;
        display: block;
        color: #ffffff;
				padding: 20px 20px;
				background-color: #ff5e9a;
				height: 120px;
    }

    ol {
    	list-style-type: none;
    	text-align: center;
    	width: 100%;
    	margin: 0;

        li {
        		position: absolute;
            width: 34%;
            margin: 0;
            padding: 0;
            bottom: 0;
        }
    }
    .project-0 {
				left: 33.33%;

				.amount {
						height: 280px;
				}
    }
    .project-1 {
        left: 0;

        .amount {
        		height: 200px;
        }
    }

    .project-2 {
        right: 0;

        .amount {
        		height: 120px;
        }
    }
}

footer {
		z-index: -1;
		width: 100%;
		position: absolute;
		top: 700px;
    padding-top: 50px;
    background-color: #c5f7d5;
    border-top: 4px solid #34ad5b;
    height: 36vh;
    text-align: center;
    color: #34ad5b;

    p {
    	width: 100%;
    	position: absolute;
    	top: 100px;
    }
}
