.header {
    .header {
        float: left;
    }
    
    .profile-holder {
        width: 70px;
        height: 70px;
        overflow: hidden;
        border: solid 3px rgba(red, .5);
        border-radius: 50%;
        float: left;

        img {
            width: 80px;
            height: 80px;
            margin-top: -10px;
        }
    }
}